.itemText {
  color: rgb(2, 43, 15);
  font-weight: 800;
}
.nearest {
  background-color: rgba(5, 98, 45, 0.5);
  color: white;
}

.circle {
  border-radius: 100%;
  background-color: aquamarine;

  margin-top: 7px;
  margin-left: 7px;
}

.default {
  border-radius: 100%;
  background-color: red;
  margin-top: 7px;
  margin-left: 7px;
}
