.main {
  padding: 0;
  margin: 0;
  position: relative;
}

.card {
  display: flex;
  background: #f6f7f9;
}
.content {
  width: 20vw;
}

.cardImage {
  width: 1vw;
  height: 320px;
  padding: 60px;
}

.container {
  border: 1px solid #f6f7f9;
  line-height: 35px;
  padding-left: 40px;
  display: block;
  padding-top: 80px;
  background-color: white;
  float: left;
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2px;
}
.category {
  font-size: 16px;
  position: relative;
  display: inline-block;
  line-height: 1;
  color: #55585b;
}

.price {
  font-size: 16px;
  font-weight: 500;
}
