.card {
  flex: 0 0 auto;
  width: calc(100 / 3);
  gap: 1000px;

  background: #f6f7f9;
}

.cardImage {
  width: 200px;
  height: 320px;
  padding: 60px;
}

.container {
  background-color: white;
  display: block;
  padding-top: 15px;
}

.title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2px;
}
.category {
  font-size: 16px;
  position: relative;
  display: inline-block;
  line-height: 1;
  color: #55585b;
}

.price {
  font-size: 16px;
  font-weight: 500;
}

.cardImage:hover {
  padding: 50px;
  transition: 0.3s;
}
